@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: end;
  align-self: flex-start;
  gap: 15px;
  min-width: min-content;
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;

  &[data-type='input'] {
    align-self: flex-end;
    background-color: #8a2ce24d;
  }

  &:last-child {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  overflow-wrap: anywhere;
}

.message-text {
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
}

.message-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  font-size: 12px;
  user-select: none;
}

.message-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: variables.$color-title-purple;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: variables.$color-background-purple;
  overflow: hidden;
  font-size: large;
  color: white;
  object-fit: cover;
}
