.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: visible;
  color: variables.$color-title-main;
  cursor: pointer;
  user-select: none;

  &[data-state='close'] {
    & > .line:nth-child(1) {
      transform: rotate(0);
    }
    & > .line:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }

    & > .line:nth-child(3) {
      transform: rotate(0);
    }
  }

  &[data-state='open'] {
    & > .line:nth-child(1) {
      transform: rotate(45deg);
    }

    & > .line:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    & > .line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.line {
  position: relative;
  width: 22.5px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s linear;
  transform-origin: 1px;
}
