.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50px;
  border-radius: 10px;
  overflow: visible;
  color: variables.$color-title-main;
  cursor: pointer;
  user-select: none;
}

.line {
  position: relative;
  width: 22.5px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s linear;
  transform-origin: 1px;

  &:first-child[data-state='close'] {
    transform: rotate(0);
  }

  &:first-child[data-state='open'] {
    transform: rotate(45deg);
  }

  &:nth-child(2)[data-state='close'] {
    opacity: 1;
    transform: translateX(0);
  }

  &:nth-child(2)[data-state='open'] {
    opacity: 0;
    transform: translateX(20px);
  }

  &:nth-child(3)[data-state='close'] {
    transform: rotate(0);
  }

  &:nth-child(3)[data-state='open'] {
    transform: rotate(-45deg);
  }
}
