.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-padding-bottom: 10px;
}
