$font-family: 'Roboto', Arial, sans-serif;
$color-title-main: #ffffff;
$color-title-secondary: #ffffffb0;
$color-text-main: #000;
$color-text-secondary: #7e7d7d;
$color-title-purple: #8a2ce2;
$color-background-purple: #8a2ce2;
$color-background-light-purple: #8a2ce23a;
$color-bg-hover: #8a2ce21a;
