html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
textarea {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  background-color: #f7f7f9;
  color: #333;
  font-size: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  --color-title-main: white;
  --color-title-secondary: rgba(255, 255, 255, 0.5);
  --color-text-main: #000;
  --color-text-secondary: #7e7d7d;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(138, 44, 226);
  width: 100%;
  gap: 10px;
  min-height: 60px;
  position: fixed;
  z-index: 1;
}

.search,
.menu,
.arrow-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;

  .material-symbols-outlined {
    color: var(--color-title-main);
  }
}

.user-info {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  gap: 10px;
}

.user-info__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-info__name {
  color: var(--color-title-main);
}

.user-info__status {
  color: var(--color-title-secondary);
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  gap: 10px;
  padding: 10px;
  height: calc(100dvh - 50px - 55px);
  padding-top: 65px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  align-self: flex-start;
  min-width: min-content;
  max-width: 75%;
}

.message_input {
  background-color: rgb(138, 44, 226, 0.3);
  align-self: flex-end;
}

.message-info {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: flex-end;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: end;
  border: none;
  border-top: 1px solid var(--color-text-secondary);
  padding: 10px 10px;
  min-height: 55px;
  background-color: white;
}

.form__message {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
}

.form-input {
  border: none;
  min-height: 30px;
  height: auto;
  overflow: hidden;
  resize: none;
  flex-grow: 1;
  flex-shrink: 1;

  &:focus-visible {
    outline: none;
  }
}

.form-input-mirror-text {
  white-space: pre-wrap;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  height: min-content;
}

.file {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 50px;

  .material-symbols-outlined {
    color: var(--color-text-secondary);
  }
}
