.header {
  overflow: hidden;
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: visible;
  color: variables.$color-title-main;
  cursor: pointer;
  user-select: none;
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: variables.$color-background-purple;
  overflow: hidden;
  font-size: large;
  color: white;
  object-fit: cover;
}

.user-info__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-info__name {
  font-size: 16px;
  font-weight: bold;
  color: variables.$color-title-main;
  user-select: none;
}

.user-info__status {
  font-size: 14px;
  color: variables.$color-title-secondary;
  user-select: none;
}
